<div class="view">
  <section class="home-orbit">
    <section class="orbit-wrap">
    <!-- Basic orbit markup -->
    <ul data-orbit data-options="timer_speed:2500; bullets:false;">
      <% 1.upto(3) do |i| %>
      <li>
        <%= image_tag "home_orbit/demo#{i}.jpg" %>
        <div class="orbit-caption">Image Caption</div>
      </li>
      <% end %>
    </ul>
    </section>
  </section>
</div>
