/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_self
 */
@import 'base';
body{
	@include grid-column(12);
	background: {
		color: rgb(236, 236, 236);
	}
	font: {
		family: 'Segoe UI', Helvetica, 'Liberation Sans', 'DejaVu Sans', Freesans, sans-serif;
    size: 14px;
	}
}
.site-nav-title{
	font-family: Helvetica;
}
.top-bar-section{
  a{
    text-transform: uppercase;
  }
}
.view{
  min-height: 450px;
}
.footer-links{
  @include grid-column(8, $offset: 2);
  text-align: center;
  ul{
    @include grid-column(9, $collapse: true);
  }
  li{
    @include grid-column(2.95, $collapse: true);
  }
}
