<div class="view">
  <section class="product-show">
    <aside class="product-creator">
      <%= @product.user %>
    </aside>
    <div class="product-details">
      <h2><%= @product.name %></h2>
      <p><%= @product.description %></p>
    </div>
    <aside class="product-reviews">
      Comments
    </aside>
  </section>
</div>
