<footer class="top-bar">
  <section class="footer-links top-bar-section">
    <ul class="left">
      <li class="divider"></li>
      <li><%= link_to 'About Us', root_path %></li>
      <li class="divider"></li>
      <li><%= link_to 'Contact Us', root_path %></li>
      <li class="divider"></li>
      <li><%= link_to 'Feedback', root_path %></li>
      <li class="divider"></li>
      <li><%= link_to 'The Team', root_path %></li>
      <li class="divider"></li>
    </ul>
  </section>
</footer>
